
img {border:0;}

form {text-align:right;}

a {color:#3a51b2; text-decoration:none;}

a:hover {text-decoration:underline;}

h2 {font-size:1.2em; line-height:1.5em; margin-bottom:10px; }

p {color:#656565; font-size:1.2em; margin-bottom:10px;}

#eliminar{display: none; width:600px;}

#modificar{display: none; width:600px}

#ingresar{display: none; width:600px;}

#imgresarTransaccion{display: none; width:600px;}

#guardarAsiento{display: none; width:600px;}

label {margin-right:5px; margin-bottom:5px; font-family:"Calibri", Arial, sans-serif; color:#646464; font-size:70%;}

.txtingresar { 
display: inline-block; 
color: #676767;
width: 320px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1em;
line-height: 1.4em;}

.txtingresar1 { 
display: inline-block; 
color: #676767;
width: 120px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1em;
line-height: 1.4em;}

.txtagregarproducto { 
display: inline-block; 
color: #676767;
width: 320px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1em;
line-height: 1.4em;}

.txtmodificar { 
display:inline-block; 
color:#676767;
width:320px; 
font-family:Arial, Tahoma, sans-serif; 
margin-bottom:10px; 
border:1px dotted #ccc; 
padding:5px 9px;
font-size:1em;
line-height:1em;}

.txteliminar { 
display:inline-block; 
color:#676767;
width:320px; 
font-family:Arial, Tahoma, sans-serif; 
margin-bottom:10px; 
border:1px dotted #ccc; 
padding:5px 9px;
font-size:1em;
line-height:1.4em;}

.combo { 
display:inline-block; 
color:#676767;
width:340px; 
font-family:Arial, Tahoma, sans-serif; 
margin-bottom:10px; 
border:1px dotted #ccc; 
padding:5px 9px;
font-size:1em;
line-height:1.4em;}

.combo1 { 
display:inline-block; 
color:#676767;
width:140px; 
font-family:Arial, Tahoma, sans-serif; 
margin-bottom:10px; 
border:1px dotted #ccc; 
padding:5px 9px;
font-size:1em;
line-height:1.4em;}

.txt:focus, .txtarea:focus {border-style:solid; border-color:#bababa; color:#444;}

input.error, textarea.error {border-color:#973d3d; border-style:solid; background: #f0bebe; color:#a35959; align:right;}
input.error:focus, textarea.error:focus {border-color:#973d3d; color:#a35959; align:right;}

#send { 
color: #dee5f0;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 1.2em;
border: solid 1px #224983;
border-radius: 5px;
background: #1e4c99; 
background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d)); 
background: -moz-linear-gradient(top, #2f52b7, #0e3a7d); 
background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
background: linear-gradient(top, #2f52b7, #0e3a7d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');}

#send:hover {
background: #183d80; 
background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
background: -o-linear-gradient(top, #284f9d, #0c2b6b);
background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');}

#send:active {
color: #8c9dc0; 
background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
background: -o-linear-gradient(top, #0e387d, #2f55b7);
background: -ms-linear-gradient(top, #0e387d, #2f55b7);
background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');}

 body{background:#EEEEEE;}
 
#miTabla tr:nth-child(odd){background-color: #DDD; color:#777;}

#miTabla td {padding: 6px;}  
#miTabla1 td {padding: 3px;}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;}

td, th {display: table-cell; vertical-align: inherit;}

#miTabla tr:nth-child(even) {background-color: #666; color:#FFF;}        

#miTabla {border-collapse: collapse; width: 100%;}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;}

.estilo1 {font-weight: bold;}
